* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-btn {
    /* 라벨인데 버튼처럼 보이게 */
    display: inline-block;
    margin: 40px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.modal-bg {
    /* 화면 전체를 덮는 레이어 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 
    red, green, blue
    0~255
    0, 0, 0 -> 검은색
    255, 255, 255 -> 흰색
    불투명도 지정
    */
    background-color: rgba(0, 0, 0, 0.3);

    opacity: 0;
    pointer-events: none;

    /* bg 안에 있는 모달 중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* opacity가 바뀔 경우 0.3s에 걸쳐서 ease-in-out 효과를 줘서 변경 */
    transition: opacity 0.3s ease-in-out;
}

.modal {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;

    transform: translateY(50px);
    transition: transform 0.3s ease-in-out;
}

.close-btn {
    /* 라벨인데 버튼처럼 보이게 */
    display: inline-block;
    margin-top: 20px;
    padding: 8px 14px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* 
modal-toggle id를 가진 checkbox가 check가 되면
뒤에 나오는 형제 중 modal-bg 클래스를 가진 요소들
 */
#modal-toggle:checked ~ .modal-bg {
    opacity: 1;
    pointer-events: auto;
}

/* 
modal 창이 아래에서 위로 올라오는 효과
transform으로 y축이 움직였다 + -> 0 
*/
#modal-toggle:checked ~ .modal-bg > .modal {
    transform: translateY(0px);
}