/* 자식선택자
바로 한단계 아래(직계 자식)만 선택
*/
header > p {
    color: blue;
}

/*
'>' 생략할 경우
몇 단계 아래더라도 header 태그 아래에 존재하는 모든 p를 지정
우선순위는 >를 적어주는 것과 동일하다.
 */

 /* 여러 단계 아래 선택자 
 단계별로 직계 자식만 타고 내려간 h1 선택
 */
 .parent1 > div > h1 {
    font-size: 60px;
 }

 .parent1 > div > h1:hover {
    font-size: 70px;
    cursor: pointer;
 }

 /* 보다 넓은 범위를 선택 */
 .parent2 h2 {
    font-size: 50px;
    color: darkblue;
 }

 /* 상태선택자 */

 .btn:hover {
/* 마우스를 요소에 올렸을 때 */
    background-color: #fafafa;
    cursor: pointer;
 }

 .btn:active {
/* 버튼을 클릭했을 때 */
    background-color: #797979;
    cursor: pointer;
 }

 input:focus {
/* 클릭되거나, tab으로 인해 포커스를 가진 경우 */
    border: 3px solid blue;
    /* 브라우저 기본 포커스 테두리 제거 */
    outline: none;
 }

 /* 
 주로 디자인요소(아이콘), 배치할 때
 css에서 디자인요소를 html처럼 배치하기도 한다.
 -> pseudo(가짜) 선택자
 */

 /* 컨텐츠 뒷부분 */
 .fake::after {
     content: "✌️";
 }
    
/* 컨텐츠 앞부분 */
 .fake::before {
    content: "⭐";
 }

