body {
    margin: 0;
    padding: 0;
    /* 높이 === 브라우저화면 */
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.login-page {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
}

.login-box {
    width: 100%;
    /* 콘텐츠 + 패딩 + 보더 -> width */
    box-sizing: border-box;

    /* 패딩 상하 좌우 */
    padding: 50px 70px;
    border: 1px solid #dbdbdb;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    /* 밑줄형 입력창 */
    border: none;
    border-bottom: 2px solid lightgrey;
    outline: none;

    margin-bottom: 10px;

    font-size: 18px;
    color: #222;
    /* 상 좌우 하 */
    padding: 10px 0 8px;
}

/* 비밀번호 가독성 */
.login-form input[type="password"] {
    letter-spacing: 0.5rem;
}

.login-form input::placeholder {
    letter-spacing: 0.05rem;
}

/* 포커스시 밑줄 강조 */
.login-form input:focus {
    border-bottom: 2px solid black;
}

.save-login {
    display: flex;
    height: 20px;
    align-items: center;
}

.save-login input {
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-right: 8px;
    cursor: pointer;
}

.save-login label {
    cursor: pointer;
}

.button-group {
    margin-top: 40px;
}

.button-group button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #fee500;
}

.btn-primary:hover {
    background-color: #f4dc00;
}

.btn-secondary:hover {
    background-color: #ddd;
}

.or-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.or-box::before,
.or-box::after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #dbdbdb;
}

.login-links {
    margin-top: 25px;
    display: flex;
    align-items: center;
    /* 요소들 중 양끝은 좌우로 붙히고 나머지 요소들은 간격을 동일하게 분배 */
    justify-content: space-between;
}

.login-links a {
    font-size: 14px;
    color: #222;
    /* a태그 밑줄 삭제 */
    text-decoration: none;
}

.link-group {
    display: flex;
    align-items: center;
}

.link-group a:nth-child(1)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #dbdbdb;
}