#board {
    width: 300px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#board > div {
    width: 33.333333%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    cursor: pointer;
}

.click {
    background-color: #ccc;
}

.answer {
    background-color: green;
}

.wrong {
    background-color: red;
}